<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>912376657080-dcrou456tscqc13mk3td511h4vr0qbr1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.912376657080-dcrou456tscqc13mk3td511h4vr0qbr1</string>
	<key>API_KEY</key>
	<string>AIzaSyDD8aQW7SDPLhiWn2d6EnLUtNFqt-1CbnA</string>
	<key>GCM_SENDER_ID</key>
	<string>912376657080</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.throvn.calculator</string>
	<key>PROJECT_ID</key>
	<string>calculator-57576</string>
	<key>STORAGE_BUCKET</key>
	<string>calculator-57576.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:912376657080:ios:b50acd59f68dad36d7304d</string>
</dict>
</plist>